/*Add CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Add google font family 'Open Sans' for the whole body.*/

body {
	font-family: "Open Sans", sans-serif;
}

/*Duplicate the nav section from the sample output. Make sure the nav position is sticky.*/

nav {
	position: sticky;
	padding: 0.8rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
	top: 0;
	background-color: white;
}

nav ul {
	margin: 0 auto;
}

nav li {
	display: inline-block;
}

.right-nav {
	float: right;
}

#logo {
	position: left;
	display: inline-block;
}

/*Apply styling in .tuitt-button with the background-color: #c2195b.*/
nav .tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.5rem;
	border-color: white;
}
/* Add a background image for the landing page.*/
#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	height: 60vh;
	background-position: center;
	background-size: 100%;
}

/*Add a black background color and opacity in class front-bg.*/
.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	height: 60vh;
	margin: 0 auto;
}

.container {
	height: 60vh;
	color: white;
	display: block;
	text-align: right;
}

.title {
	padding-top: 20px;
	font-size: 350%;
	width: 45%;
	margin-left: 50vw;
	padding-bottom: 15px;
}

.subtitle {
	font-size: 150%;
	width: 35%;
	margin-left: 60vw;
	padding-bottom: 20px;
}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1.5rem;
	padding: 0.9rem;
	border-color: #c2195b;
	margin-right: 4.5vw;
}

/*Use the font-family 'Zilla Slab' for class title and title-2
*/
.title, .title-2 {
	font-family: zilla-slab;
}

.intro {
	position: center;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.title-2 {
	text-align: center;
	padding-bottom: 5rem;
	font-size: 200%;
}

.intro-description {
	display: inline-block;
	padding-left: 10rem;
	width: 85%;
	text-align: justify;
}

/*Use the background-color: #f7fbfb for the pre-footer class.*/
.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	display: block;
	position: center;
	padding-top: 5rem;
	padding-bottom: 5rem;

}

.prefooter-description {
	width: 75%;
	text-align: center;
	padding-bottom: 5rem;
	padding-left: 23rem;
}

/*Use the background-color: #336589 for the book-button class.*/

.book-button {
	background-color: #336589;
	color: white;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.5rem;
	border-color: white;
	padding-right: 2rem;
	padding-left: 2rem;
}

/*Add a footer and aligned it in the center.*/

footer {
	text-align: center;
	margin: 1rem;
}